<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Inscription</h2>
                </div>
                <div class="card-body">
                    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= f.error_notification %>

                    <div class="form-group">
                        <%= f.input :email,
                                    required: true,
                                    autofocus: true,
                                    input_html: { autocomplete: "email", class: "form-control" },
                                    label: 'Email',
                                    label_html: { class: "form-label" } %>
                    </div>
                    <div class="form-group">
                        <%= f.input :password,
                                    required: true,
                                    hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                                    input_html: { autocomplete: "new-password", class: "form-control" },
                                    label: 'Mot de passe',
                                    label_html: { class: "form-label" } %>
                    </div>
                    <div class="form-group">
                        <%= f.input :password_confirmation,
                                    required: true,
                                    input_html: { autocomplete: "new-password", class: "form-control" },
                                    label: 'Confirmation du mot de passe',
                                    label_html: { class: "form-label" } %>
                    </div>

                    <div class="form-group text-center">
                        <%= f.button :submit, "S'inscrire", class: "btn btn-primary" %>
                    </div>
                    <% end %>
                </div>
            </div>
            <div class="mt-3 text-center">
                <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</div>
