<h2 class="text-center mt-5">1/Descriptif établissement</h2>
<div class="container">
  <%= form_with model: @specification, url: specification_path(@specification), method: :patch, local: true, html: { class: 'form-horizontal' } do |form| %>
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= form.label :enseigne, class: 'form-label' %>
        <%= form.text_field :enseigne, class: 'form-control', aria: {label: "Enseigne"} %>
      </div>
      <div class="col-md-6 mb-3">
        <%= form.label :raison_sociale, class: 'form-label' %>
        <%= form.text_field :raison_sociale, class: 'form-control', aria: {label: "Raison sociale"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= form.label :forme_juridique, class: 'form-label' %>
        <%= form.text_field :forme_juridique, class: 'form-control', aria: {label: "Forme juridique"} %>
      </div>
      <div class="col-md-6 mb-3">
        <%= form.label :activite, class: 'form-label' %>
        <%= form.text_field :activite, class: 'form-control', aria: {label: "Activité"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= form.label :rcs, class: 'form-label' %>
        <%= form.text_field :rcs, class: 'form-control', aria: {label: "RCS"} %>
      </div>
      <div class="col-md-6 mb-3">
        <%= form.label :code_ape, class: 'form-label' %>
        <%= form.text_field :code_ape, class: 'form-control', aria: {label: "Code APE"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= form.label :siret, class: 'form-label' %>
        <%= form.text_field :siret, class: 'form-control', aria: {label: "SIRET"} %>
      </div>
      <div class="col-md-6 mb-3">
        <%= form.label :siren, class: 'form-label' %>
        <%= form.text_field :siren, class: 'form-control', aria: {label: "SIREN"} %>
      </div>
    </div>
    <div class="mb-3">
      <%= form.label :tva_intra, class: 'form-label' %>
      <%= form.text_field :tva_intra, class: 'form-control', aria: {label: "TVA Intra"} %>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= form.label :adresse_societe, class: 'form-label' %>
        <%= form.text_field :adresse_societe, class: 'form-control', aria: {label: "Adresse société"} %>
      </div>
      <div class="col-md-6 mb-3">
        <%= form.label :ville_societe, class: 'form-label' %>
        <%= form.text_field :ville_societe, class: 'form-control', aria: {label: "Ville société"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= form.label :cp_societe, class: 'form-label' %>
        <%= form.text_field :cp_societe, class: 'form-control', aria: {label: "Code postal société"} %>
      </div>
      <div class="col-md-6 mb-3">
        <%= form.label :tel_societe, class: 'form-label' %>
        <%= form.text_field :tel_societe, class: 'form-control', aria: {label: "Téléphone société"} %>
      </div>
    </div>
    <div class="mb-3">
      <%= form.label :mail_societe, class: 'form-label' %>
      <%= form.email_field :mail_societe, class: 'form-control', aria: {label: "Email société"} %>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= form.label :nom_gerant, class: 'form-label' %>
        <%= form.text_field :nom_gerant, class: 'form-control', aria: {label: "Nom gérant"} %>
      </div>
      <div class="col-md-6 mb-3">
        <%= form.label :prenom_gerant, class: 'form-label' %>
        <%= form.text_field :prenom_gerant, class: 'form-control', aria: {label: "Prénom gérant"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= form.label :tel_gerant, class: 'form-label' %>
        <%= form.text_field :tel_gerant, class: 'form-control', aria: {label: "Téléphone gérant"} %>
      </div>
      <div class="col-md-6 mb-3">
        <%= form.label :gsm_gerant, class: 'form-label' %>
        <%= form.text_field :gsm_gerant, class: 'form-control', aria: {label: "GSM gérant"} %>
      </div>
    </div>
    <div class="mb-3">
      <%= form.label :mail_gerant, class: 'form-label' %>
      <%= form.email_field :mail_gerant, class: 'form-control', aria: {label: "Email gérant"} %>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= form.label :nom_responsable, class: 'form-label' %>
        <%= form.text_field :nom_responsable, class: 'form-control', aria: {label: "Nom responsable"} %>
      </div>
      <div class="col-md-6 mb-3">
        <%= form.label :prenom_responsable, class: 'form-label' %>
        <%= form.text_field :prenom_responsable, class: 'form-control', aria: {label: "Prénom responsable"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= form.label :tel_responsable, class: 'form-label' %>
        <%= form.text_field :tel_responsable, class: 'form-control', aria: {label: "Téléphone responsable"} %>
      </div>
      <div class="col-md-6 mb-3">
        <%= form.label :gsm_responsable, class: 'form-label' %>
        <%= form.text_field :gsm_responsable, class: 'form-control', aria: {label: "GSM responsable"} %>
      </div>
    </div>
    <div class="mb-3">
      <%= form.label :mail_responsable, class: 'form-label' %>
      <%= form.email_field :mail_responsable, class: 'form-control', aria: {label: "Email responsable"} %>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= form.label :prevu_ouverture, class: 'form-label' %>
        <%= form.datetime_local_field :prevu_ouverture, class: 'form-control', aria: {label: "Date prévue d'ouverture"} %>
      </div>
      <div class="col-md-6 mb-3">
        <%= form.label :prevu_installation, class: 'form-label' %>
        <%= form.datetime_local_field :prevu_installation, class: 'form-control', aria: {label: "Date prévue d'installation"} %>
      </div>
    </div>
    <div class="mb-3 text-center">
      <%= form.submit "Suivant", class: 'btn btn-primary', name: "commit" %>
    </div>
  <% end %>
</div>
